/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
    box-sizing: border-box;
  }
  
  /******************************************
  /* LAYOUT
  /*******************************************/

  body{
    font-size: 62.5%;
    text-align: center;
  }

  img{
    display: block;
    margin: 0;
    height: 200px;
  }
  
  .cocktail-modal {
    border: 2px solid black;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .left-card{
    text-align: left;
    width: 60%;
    height: 100%;
    padding: 20px;
  }

  .right-card {
    width: 40%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    border-left: 1px black solid;
  }
  .right-card > img {
    justify-self: flex-start;
    align-self: flex-end;
  }
  
  
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
  
  h1 {
    font-size: 2.4rem;
    margin-bottom: 5px;
  }

  h2 {
    font-size: 2rem;
    font-weight: 700;
  }

  h3 {
    font-size: 1.6rem;
  }
  
  p {
    font-size: 1.2rem;
  }